body {
    background-color: #fefbed;
}

header {
    text-align: center;
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
}

nav {
    text-align: center;
    padding-bottom: 2em;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.intro {
    text-align: center;
    background-color: black;
    color: #fefbed;
    padding: 1em;
    font-family: "Poppins", sans-serif;
    font-size: .75em
}

h2 {
    padding-top: 1em;
    padding-bottom: 1em;
}

a {
    color: #06957d;
}
main {
    font-family: "Montserrat", sans-serif;
}
footer {
    font-family: "Montserrat", sans-serif;
}